{% extends 'admin_layout.html.twig' %}


{% block content %}
    <div class="container">

     {% for category, products in categoriesWithProducts %}
         <h1>{{ category}}</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> Id du produit</th>
                    <th scope="col">Nom du produit</th>
                    <th scope="col">Image produit</th>
                    <th scope="col">Début de récolte</th>
                    <th scope="col"> Fin de récolte</th>
                    <th scope="col">Description du produit</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    {% if product.category_title == category %}
                        <tr>
                            <th scope="row">{{ product.id }}</th>
                            <td>{{ product.name }}</td>
                            <td><img src="{{ product.image }}" alt="Image Produit" width="100px" height="50px"></td>
                            <td>{{ product.product_begin }}</td>
                            <td>{{ product.product_end }}</td>
                            <td>{{ product.description_produit }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    </div>
{% endblock %}

