{% extends 'layout.html.twig' %}

{% block stylesheet %}

    <link rel="stylesheet" href="/assets/css/ourproducts.css">
    <link href="assets/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="product-title mt-5">Nos Produits</h2>
        {% for category, products in categoriesWithProducts %}
            <div class="mt-5 mb-2">
                <h3 class="category-title">{{ category }}</h3>
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-5 wow bounceIn animated">
                            <div class="card">
                                <img class="card-img-top" src="{{ product.image }}" alt="Card product" height=168px>
                                <div class="card-body">
                                    <h4 class="card-title mt-2 mb-4">{{ product.name }}</h4>
                                    <p class="card-text">Période de Cueillette :</br> de {{ product.month_begin }} à {{ product.month_end }}</p>
                                    <button type="button" class="btn" data-toggle="modal" data-target="#product-{{ product.id }}">Plus d'info...</button>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="product-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ product.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <img class="imgModal" src="{{ product.image }}">
                                    </div>
                                    <div class="modal-body">
                                        <h4>{{ product.name }}</h4>
                                        <p><b>Période de Cueillette :</b> de {{ product.month_begin }} à {{ product.month_end }}</p>
                                        <p><b>Description :</b> {{ product.description_produit}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

